#title{
    text-align:center;
    margin:30px;
}


#inputPanel{
    text-align:center;
    margin-bottom:30px;
    padding:20px;
}

#tileId{
    margin-bottom:20px;
}

#rules{
    text-align:center;
}

#rulesNumber{
    font-size:8em;
}

#rulesTitle{
    font-size:10em;
}

#rulesDesc{
    font-size:5em;
}